

header {
  background-color: white;
}

nav a {
    text-decoration: none; 
    padding: 5px 10px;
    font-size: 16px;
    color: #297bbe;                   
}

nav a:hover {
    color: #f0f3f1;        
    background-color: #297bbe;   
    border-radius: 4px;
    transition: 0.8s;
}


body {
  font-family: Arial;
  line-height: 1.5;
  background-color: #daecf5; 
  color: #333;
  text-align: left;
}


#products-page main ul li {
    transition: background-color 0.3s ease;
    padding: 15px;
    border-radius: 8px;
}

#products-page main ul li:hover {
    background-color: #ffffff;
}


#contact-page .social-links a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #297bbe;
    transition: 0.5s; 
}

#contact-page .social-links a:hover {
    color: #f0f3f1;
    background-color: #297bbe;
    border-radius: 4px; 
}


footer p {
    margin: 0;               
    font-size: 14px;         
}

footer {
    background-color: white; 
    text-align: center;        
}


